{% extends 'partials/auth/auth_base.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="bg-gray-800 p-10 rounded-2xl shadow-2xl w-full max-w-md mx-auto text-center text-gray-100">
    <h2 class="text-4xl font-extrabold mb-6 tracking-tight">
        Password Reset Successful
    </h2>
    <p class="mb-8">
        Your password has been reset successfully.
    </p>
    <a href="{% url 'login' %}" class="inline-block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-6 rounded-lg shadow-lg transition">
        Log In Now
    </a>
</div>
{% endblock %}
