{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-gray-900">
<head>
    <title>{% block title %}CantinaShop{% endblock %}</title>
    {% include 'partials/main/head.html' %}
</head>
<body class="bg-gray-900 text-gray-100 min-h-screen flex flex-col">
{% include 'partials/main/nav.html' %}

<main class="flex-grow container mx-auto px-4 py-8">
    {% block content %}{% endblock %}
</main>

{% include 'partials/main/footer.html' %}
{% include 'chat/partials/user-chat.html' %}

{% block script %}
    <script src="{% static 'js/utils/iconsLoad.js' %}"></script>

    {% if user.is_authenticated %}
        <script>
            window.chatConfig = {
                userId: {{ request.user.id|default:'null' }},
                wsProtocol: "{{ request.is_secure|yesno:'wss,ws'|escapejs }}",
                host: "{{ request.get_host|escapejs }}",
                apiMessagesUrl: "{% url 'chat-messages-api-base' request.user.id %}",
                adminAvatarUrl: "{% static 'images/admin.jpg' %}",
                defaultAvatarUrl: "{% static 'images/avatar.png' %}",
                userIsStaffOrSuperuser: {{ user.is_staff|yesno:"true,false" }} || {{ user.is_superuser|yesno:"true,false" }},
                userIsChatBanned: {{ request.user.is_chat_banned|yesno:"true,false" }},

            };
        </script>
        <script src="{% static 'js/chat/chatFrontEnd.js' %}"></script>
        <script src="https://unpkg.com/lucide@latest"></script>
    {% endif %}
{% endblock %}

</body>
</html>

