{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-gray-900">
<head>
  <title>{% block title %}CantinaShop{% endblock %}</title>
  {% include 'partials/main/head.html' %}
</head>
<body class="bg-gray-900 text-gray-100 min-h-screen flex flex-col">
  {% include 'partials/main/nav.html' %}

  <main class="flex-grow container mx-auto px-4 py-8">
    {% block content %}{% endblock %}
  </main>

  {% include 'partials/main/footer.html' %}

{% if user.is_authenticated %}
  <script>
    window.currentUserId = "{{ user.id }}";
  </script>
{% endif %}
</body>
</html>
